*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    transition: 0.2s all linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem; /*Related to nav menu*/
    /* 1rem = 16px
       100% = 16px
       1px = 6.25%
       and now we want to set default font size as 10px i.e. 62.5%
    */
}

.uni-padding{
    padding: 0 3%;
}

:root{
    /* --red: #eb4d4b;
    --dark-red: #c23b39; */
    /* --red: #54B435;
    --dark-red: #379237 #D58BDD;  */
    --red: #87A2FB;
    --dark-red: #597df2; 
    --white: white;
    --white-for-background: white;
    --little-dark-background: rgb(240, 240, 240);
    --black: black;
}

.dark-theme{
    --white-for-background: #121212;
    --black: white;
    --little-dark-background: #3a3a3a;
}


/*Mode or Theme*/

.mode{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 7rem;
    height: 6rem;
    background-color: var(--red);
    background-color: var(--dark-red);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: end;
    padding: 1rem;
    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 5%;
    box-shadow: 0 0 .4rem rgb(82 76 76 / 50%);
}

.mode a img{
    width: 4rem;
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--red);
    border: .2rem solid var(--red);
    cursor: pointer;
}

.mode a img:hover{
    background-color: var(--dark-red);
}


/*Navbar section*/

.navbar{
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo{
    width: 10%;
    /* border: 2px solid white; */
    font-size: 2.5rem;
    padding: .8rem;
    color: var(--white);
}

.navbar .navlist{
    width: 50%;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navlist li a{
    font-size: 2rem;
    padding: .8rem;
    color: var(--white);
    border-radius: .5rem;
}

.navbar .navlist li a:hover{
    color: var(--red);
    background-color: var(--white);
}

.navbar .contactbutton{
    width: 10%;
    /* border: 2px solid white; */
    text-align: center;
}

.navbar .contactbutton a{
    font-size: 2rem;
    padding: .8rem;
    color: var(--white);
    border-radius: .5rem;
    cursor: pointer;
}

.navbar .contactbutton a:hover{
    color: var(--red);
    background-color: var(--white);
}


/*Bottom Navbar*/

.bottom-navbar{
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--red);
}

.bottom-navbar a img{
    width: 4rem;
    padding: 0.8rem;
}

.bottom-navbar a img:hover{
    background-color: var(--dark-red);
}


/*Home section*/

.home{
    height: auto;
    padding: 3rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-for-background);
}

.home .information{
    width: 65%;
    /* border: 2px solid white; */
}

.home .information h1{
    color: var(--black);
    font-size: 5rem;
    margin-bottom: 1rem;
}

.home .information #position{
    color: var(--red);
}

.home .information p{
    color: var(--black);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.home .information a{
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: .8rem;
    color: var(--white);
    border: .3rem solid var(--red);
    border-radius: .5rem;
    background-color: var(--red);
    cursor: pointer;
}

.home .information a:hover{
    color: var(--red);
    background-color: var(--white);
}

.home .photo{
    width: 30%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
}

.home .photo img{
    width: 90%;
    border: 1rem solid var(--red);
    border-radius: 50%;
}


/*About Me*/

.about-me{
    background-color: var(--little-dark-background);
    padding-bottom: 3rem;
}

.section-heading{
    color: var(--red);
    font-size: 4rem;
    padding: 2rem 0;
}

.about-me h1{
    color: var(--red);
}

.about-me .combo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me .combo .image{
    width: 33%;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
}

.about-me .combo .image:hover .content{
    bottom: 0;
}

.about-me .combo .image img{
    width: 100%;
    padding: 1rem;
    border: 1rem solid var(--red);
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.about-me .combo .image .content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    /* border: 2px solid red; */
    height: 25%;
    background-color: var(--red);
    opacity: 0.8;
    transition: 0.3s all linear;
}

.about-me .combo .image .content img{
    width: 15%;
    border: none;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.about-me .combo .image .content img:hover{
    background-color: var(--white);
}

.about-me .combo .inner-combo{
    width: 55%;
    /* border: 2px solid red; */
}

.about-me .combo .inner-combo h1{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.about-me .combo .inner-combo p{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--black);
}

.about-me .combo .inner-combo li{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.about-me .combo .inner-combo a{
    font-size: 2rem;
    padding: 0.8rem;
    color: var(--white);
    border: 0.3rem solid var(--red);
    border-radius: 0.5rem;
    background-color: var(--red);
    cursor: pointer;
}

.about-me .combo .inner-combo a:hover{
    background-color: var(--white);
    color: var(--red);
}

.about-me li{
    color: var(--red);
    list-style: circle;
}


/*Education section*/

.education{
    background-color: var(--white-for-background);
}

.education .combo1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.education .combo1 .edu-box{
    width: 37rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--black);
    position: relative;
}

.education .combo1 .edu-box span{
    font-size: 1.8rem;
    background-color: var(--red);
    color: white;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .combo1 .edu-box h3{
    font-size: 2rem;
    color: var(--red);
    padding-top: 1.5rem;
}

.education .combo1 .edu-box p{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.education .combo1 .edu-box p .percen{
    font-size: 2rem;
}

.education .combo1 .edu-box i{
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--red);
}


/*Services section*/

.Services{
    background-color: var(--little-dark-background);
    padding-bottom: 3rem;
}

.Services .combo-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Services .combo-2 .service-box{
    flex: 1 1 35rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: .5rem .5rem 1rem rgb(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}

.Services .combo-2 .service-box:hover{
    background-color: rgb(253, 199, 199);
}

.Services .service-box img{
    width: 20%;
}

.Services .service-box #js,.Services .service-box #sql{
    width: 50%;
}
.Services .service-box h3{
    font-size: 2.5rem;
    color: var(--red);
    margin: 1rem 0;
}

.Services .service-box p{
    font-size: 1.6rem;
}


/*Project Section*/

.project{
    padding-bottom: 3rem;
    background-color: var(--white-for-background);
}

.project .combo3{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.project .combo3 .project-box{
    border: .5rem solid var(--red);
    flex: 1 1 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.project .combo3 .project-box:hover .project-content{
    bottom: 0;
}

.project .combo3 .project-box img{
    width: 100%;
}

.project .combo3 .project-box .project-content{
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: var(--red);
}

.project .combo3 .project-box .project-content a img{
    width: 13%;
    padding: .7rem .7rem;
    border-radius: 50%;
    margin-top: 1rem;
    cursor: pointer;
}

.project .combo3 .project-box .project-content a img:hover{
    background-color: var(--white);
}


/*Footer section*/

footer{
    background-color: var(--red);
    color: var(--white);
    text-align: center;
}

footer h3{
    padding: 1.5rem 3%;
    font-size: 2rem;
    font-weight: 100;
    cursor: pointer;
}



/*Responsivness*/

@media (max-width: 1375px){
    html{
        font-size: 60%;
    }
}

@media (max-width: 1315px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 1205px){
    html{
        font-size: 50%;
    }

    .uni-padding{
        padding: 0 2%;
    }

    .navbar{
        padding: 1% 3%;
    }
}

@media (max-width: 1096px){
    html{
        font-size: 45%;
    }
}

@media (max-width: 990px){
    html{
        font-size: 40%;
    }
}

@media (max-width: 977px){
    html{
        font-size: 35%;
    }
}

@media (max-width: 770px){
    html{
        font-size: 30%;
    }
}

@media (max-width: 660px){
    .navbar .navlist{
        width: 55%;
    }
  
    .navbar .contactbutton{
        width: 12%;
    }
}

@media (max-width: 630px){
    .about-me .combo .inner-combo h1 {
        font-size: 5rem;
        margin-bottom: 1.2rem;
    }

    .about-me .combo .inner-combo p {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .about-me .combo .inner-combo li {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .about-me .combo .inner-combo {
        width: 65%;
    }
}

@media (max-width: 550px){
    html{
        font-size: 25%;
    }
}

@media (max-width: 490px){
    .education .combo1 .edu-box {
        width: 50rem;
    }
}

@media (max-width: 460px){

    html{
        scroll-padding-top: .5rem;
    }

    .navbar{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    .bottom-navbar a img {
        width: 6.9rem;
        padding: 1.2rem 1.5rem;
    }

    .home{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 0;
    }

    .home .photo {
        width: 40%;
    }

    .home .information {
        width: 90%;
    }

    .about-me{
        padding-bottom: 5rem;
    }

    .about-me .combo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about-me .combo .image {
        width: 45%;
    }

    .about-me .combo .inner-combo {
        width: 90%;
        margin-top: 3rem;
    }

    .about-me .combo .inner-combo h1 {
        text-align: center;
    }
}

@media (max-width: 433px){
    .education .combo1 .edu-box {
    width: 100rem;
    }
}
